*{
    font-family: 'PT Sans', sans-serif;
}

main{
    align-items: center;
    text-align: left;   
    margin-left: 12px;
}

.logo{
    align-items: center;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

h1{
    font-size: 1.2rem;
    margin-right: 24px;
    color: #831F82;
    max-width: 247px;
}

.faces img{
    width: 45px;
    margin-top: 10px;
    margin-right: 8px;
    filter: gray; 
    -webkit-filter: grayscale(60%);
    -webkit-transition: all .6s ease; 
    -webkit-backface-visibility: hidden; 
}

.faces img:hover{
    cursor: pointer;
    opacity: 100%;
    -webkit-filter: grayscale(0%);
}

.content{
    font-size: 1.2rem;
    margin-left: 1%;
    color: #831F82;
}

.numbers{
    display: flex; 
    margin-left: -16px;
}

.numbers img{
    width: 45px;
    margin: 0%;
    margin-right: 5px;
    margin-bottom: 5px;
    filter: gray; 
    -webkit-filter: grayscale(60%);
    -webkit-transition: all .6s ease; 
    -webkit-backface-visibility: hidden; 
}

.numbers img:hover{
    cursor: pointer;
    opacity: 100%;
    -webkit-filter: grayscale(0%);
}

/*-- BOTÃO DE CONFIRMAÇÃO--*/

button{
    border: none;
    align-items: center;
}

button img{
    filter: gray; 
    -webkit-filter: grayscale(60%);
    -webkit-transition: all .6s ease; 
    -webkit-backface-visibility: hidden; 
}

button img:hover{
    cursor: pointer;
    opacity: 100%;
    -webkit-filter: grayscale(0%);
}
