
<main>
    <div class="logo">
        <img src="../../../assets/img/logo-drogaria-santa-marta.svg" alt="#" width="400px">
    </div>

    <div class="content" *ngFor="let pesquisa of pesquisas">
        <div *ngIf="pesquisa.tipo == 'satisfação'" style="display: flex; align-items: center;">
            <div align="left">
                <h1>{{pesquisa.pergunta}}</h1>
            </div>
            <section class="faces">
                <img src="../../../assets/img/angry.png" alt="#" (click)="pesquisa.avaliacao = 1">
                <img src="../../../assets/img/dislike.png" alt="#" (click)="pesquisa.avaliacao = 2">
                <img src="../../../assets/img/normal.png" alt="#" (click)="pesquisa.avaliacao = 3">
                <img src="../../../assets/img/good.png" alt="#" (click)="pesquisa.avaliacao = 4">
                <img src="../../../assets/img/excelent.png" alt="#" (click)="pesquisa.avaliacao = 5">
            </section>
        </div>
        <div *ngIf="pesquisa.tipo == 'pontuação'" style="display: block;">
            <div>
                <h1>{{pesquisa.pergunta}}</h1>
            </div>
            <section class="numbers">
                <img src="../../../assets/img/0.png" alt="#" (click)="pesquisa.avaliacao = 0">
                <img src="../../../assets/img/1.png" alt="#" (click)="pesquisa.avaliacao = 1">
                <img src="../../../assets/img/2.png" alt="#" (click)="pesquisa.avaliacao = 2">
                <img src="../../../assets/img/3.png" alt="#" (click)="pesquisa.avaliacao = 3">
                <img src="../../../assets/img/4.png" alt="#" (click)="pesquisa.avaliacao = 4">
                <img src="../../../assets/img/5.png" alt="#" (click)="pesquisa.avaliacao = 5">
                <img src="../../../assets/img/6.png" alt="#" (click)="pesquisa.avaliacao = 6">
                <img src="../../../assets/img/7.png" alt="#" (click)="pesquisa.avaliacao = 7">
                <img src="../../../assets/img/8.png" alt="#" (click)="pesquisa.avaliacao = 8">
                <img src="../../../assets/img/9.png" alt="#" (click)="pesquisa.avaliacao = 9">
                <img src="../../../assets/img/10.png" alt="#" (click)="pesquisa.avaliacao = 10">
            </section>
        </div>
    </div>
    <div style="text-align: -webkit-center;">
        <img src="../../../assets/img/confirm.png" alt="" (click)="agradecimento()" width="30%"
        style="margin-top: 2rem;">
    </div>
</main>